<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Resume</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container1">
      <h1>Upload Resume</h1>
      <form
        action="{{ url_for('upload') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="resume" required />
        <button type="submit" class="btn">Submit</button>
      </form>
      <a href="{{ url_for('index') }}" class="btn">Back to Home</a>
      {% with messages = get_flashed_messages() %} {% if messages %} {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
